# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Editor
vsWorkspace.code-workspace

#others proyects
node-project
firebase-project
js-profesional/
react-router/
websokets/
algorithms/algorithms.code-workspace
bootstrap/    
clousures/
calories_counter/
node-fundamentos/
front-end-ed-videos/

algorithms/node_modules